// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.lugrasimo-regular {
    font-family: "Lugrasimo", cursive;
    font-size: 20px;
    font-weight: 500;
  }
